@font-face {
  font-family: "DSEG7Classic";
  src: url("/fonts/DSEG7/DSEG7Classic-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DSEG7ClassicMini";
  src: url("/fonts/DSEG7/DSEG7ClassicMini-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Caprasimo";
  src: url("/fonts/Caprasimo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva";
  src: url("/fonts/YesevaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("/fonts/HankenGrotesk/HankenGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("/fonts/HankenGrotesk/HankenGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HankenGrotesk";
  src: url("/fonts/HankenGrotesk/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hanken-Grotesk";
  src: url("/fonts/HankenGrotesk/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hanken-Grotesk";
  src: url("/fonts/HankenGrotesk/HankenGrotesk-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

.font-digital {
  font-family: "DSEG7ClassicMini", monospace;
  font-weight: bold;
  font-style: normal;
}
