@import "tailwindcss";
@import "./fonts.css";

@theme {
  --color-lilac: #7a72ad;
  --color-theme: var(--theme-color-dark);
  --ease-apple: cubic-bezier(0.17, 0.59, 0.4, 0.77);
  --font-heading: "Yeseva", serif;
}

@utility pt-safe {
  padding-top: var(--safe-area-inset-top);
}

@utility pb-safe {
  padding-bottom: var(--safe-area-inset-bottom);
}

@utility pl-safe {
  padding-left: var(--safe-area-inset-left);
}

@utility pr-safe {
  padding-right: var(--safe-area-inset-right);
}

[data-bgstyle="solid"] body {
  background: none !important;
}

:root {
  font-family: HankenGrotesk, Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --star-color: #ffd059;
  --theme-color-dark: #06040f;
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-right: env(safe-area-inset-right);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --safe-area-inset-left: env(safe-area-inset-left);
}

html {
  background-color: var(--theme-color-dark);
  overscroll-behavior: none; /* prevent bouncy overscroll effects, eg. "pull-to-refresh" */
}

body {
  margin: 0;
  color: #e3e3e3;
  background: linear-gradient(
    170deg,
    transparent 30%,
    #280a4ab1 50%,
    transparent 75%
  );
  background-size: 200% 200%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
